/* Fonts */
.lovers-quarrel-regular {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
}

.im-fell-great-primer-regular {
    font-family: "IM Fell Great Primer", serif;
    font-weight: 400;
    font-style: normal;
}
  
.im-fell-great-primer-regular-italic {
    font-family: "IM Fell Great Primer", serif;
    font-weight: 400;
    font-style: italic;
}
  
/* Styling Defaults */

body {
    text-align: center;
    color: antiquewhite;
    background-color: black;
    line-height: 130%;
    font-family: "IM Fell Great Primer", serif;
}

h1 {
    font-size: 2rem;
    line-height: 130%;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.username {
    color: rgb(120, 109, 134);
    font-family: "Lovers Quarrel", cursive;
    font-size: 5rem;
}

.freepik-link, .game-link {
    color: rgb(120, 109, 134);
    font-weight: bold;
}

.page-content-box, .text-box, .option {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page-content-box {
    align-items: center;
}

.text-box {
    width: 40%;
}

.options-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2%;
    flex-wrap: wrap;
}

.option {
    width: 20%;
    background-color: rgb(47, 40, 48);
    padding: 1%;
    gap: 10px;
    height: 60vh;
    border-radius: 5%;
}

.option>img {
    height: 60%;
    object-fit: contain;
}

.art-box {
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
    flex-wrap: wrap;
    width:85vw;
}

.art-box>img {
    height: 50vh;
    border-radius: 5%;
}

/* The images on the Backgrounds page will need to be smaller than the rest in order to fit nicely. */
#backgrounds-art-box img {
    height: 40vh;
}

.pop-up-box {
    background-color: black;
    border-style: dotted;
    border-color: antiquewhite;
    opacity: 90%;
    left: 35vw;
    top: 30vh;
}

.pop-up-box, .pop-up-box>p {
    height: 40vh;
    width: 30vw;
    border-radius: 5%;
    position:fixed;
    display: none;
}

.pop-up-box>p {
    height: 30vh;
    width: 20vw;
    left: 40vw;
    top: 42vh;
}

.exit-button {
    height: auto;
    width: 2vw;
    left: 61.5%;
    top: 33vh;
    position: fixed;
    background-color: antiquewhite;
    border-radius: 50%;
    display: none;
}

.social-icons-box {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.social-icons-box img {
    height: 6vh;
    object-fit: contain;
    background-color: rgb(120, 109, 134);
    border-radius: 15%;
}

footer {
    width: 80vw;
}

/* Making the site responsive using media queries: */

@media (max-width: 1020px) {

    /* Making the intro text wider: */
    .text-box {
        width: 70%;
    }

    /* Making the category options display vertically at this size to reduce layout distortion: */
    .options-box {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 3vh;
    }

    .option {
        width: 50%;
    }

    /* Making the exit button on pop-ups bigger to improve visibility: */
    .exit-button {
        width: 3.5vw;
        left: 60%;
    }
}

@media (max-width: 903px) {

    /* Making some of the text smaller to prevent layout warp: */
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.3rem;
    }

    /* Making the art smaller so it doesn't overlap the width of the page: */
    .art-box>img {
        height: 40vh;
    }

    /* Making the pop-up text fit better: */
    .pop-up-box>p {
        top: 39vh;
    }
}

@media (max-width: 790px) {

    /* Making the art display vertically to allow for better viewing without having to shrink the images too much: */
    .art-box {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 3.5vh;
    }

    .art-box>img {
        height: auto;
        width: 72vw;
    }

    #backgrounds-art-box>img {
        height: auto;
        width: 72vw;
    }
}

@media (max-width: 768px) {

    /* Centering and enlarging the exit button to make it more visible: */
    .exit-button {
        width: 5vw;
        left: 49%;
    }

    /* Making the pop-up text fit better: */
    .pop-up-box {
        width: 50vw;
        left: 25vw;
    }

    .pop-up-box>p {
        width: 40vw;
        left: 30vw;
    }
}

@media (max-width: 554px) {
    
    /* Making the options take up a greater persentage of the screen's width: */
    .option {
        width: 70%;
    }
}

@media (max-width: 448px) {
    
    /* Reduce the size of the username to fit better: */
    .username {
        font-size: 4rem;
    }

    /* Improving the look of the options at a smaller size: */
    .option {
        height: 40vh;
        padding: 4%;
        gap: 0px;
        justify-content: center;
    }

    /* Reduce the size of the options images and text to make them fit better: */
    .option>img {
        height: 50%;
    }
}

@media (max-width: 360px) {

    /* Reduce the sizes of the text to fit a smaller screen: */
    .username {
        font-size: 3rem;
    }

    h1 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 290px) {

    /* Reduce text size again: */
    .username {
        font-size: 2rem;
    }

    p {
        font-size: 0.8rem;
    }
}